  <div>
    <div class="row align-items-center">
        <div class="col-2" style="background-color: #FFFFFF">
            <div class="card" style="width: 15rem; background-color: #BEDCF2;">
              <img class="card-img-top" src="/assets/images/LACare-Logo.png" width="100" height="100" alt="Card image cap">
              <div class="card-body">
                <h5 class="badge badge-custom">PROVIDER TYPE</h5>
              </div>
            </div>
        </div>
        <div class="col-9">
            <h4 style="font:Lantinghei SC, Extralight; font-size: 40px; color: #3B95D8;text-align: center;"> Select Provider Type</h4>
            <div class="row justify-content-center" style="margin-top:0px">
                  <!-- <br/> -->
              <div class="col-3" style="background-color:#FFFFFF; padding-top:15px;"> 
                <div class="panel panel-default panel-horizontal"> 
                  <div class="panel-body" style="background-color:#BEDCF2;">
                    <a [routerLink]="['/practitioner','c']">
                    <h2 style="font: ArialMT, Regular; opacity:50%;font-size: 18px;color: #444444;text-align: center;">Contract Practitioner</h2> 
                  </a>
                  </div>
              </div>
            </div>
              <div class="col-3" style="background-color:#FFFFFF;padding-top:15px;">
                <div class="panel panel-default panel-horizontal">
              
                  <div class="panel-body" style="background-color:#BEDCF2;">
                      <a [routerLink]="['/practitioner','nc']">
                    <h2 style="font: ArialMT, Regular; font-size: 18px; color:#444444 ;text-align: center;">Non-Contract Practitioner
                    </h2>
                    </a>
                  </div>
              </div></div>
            </div>
    
            <div class="row justify-content-center">
                <div class="col-3" style="background-color:#FFFFFF;">
                  <div class="panel panel-default disabled panel-horizontal">
              
                    <div class="panel-body" style="background-color:#BEDCF2;">
                        <h2 style="font: ArialMT, Regular; font-size: 18px ;text-align: center;">Contract Facility</h2>
                    </div>
                </div></div>
                <div class="col-3" style="background-color:#FFFFFF;">
                  <div class="panel panel-default disabled panel-horizontal">
              
                    <div class="panel-body" style="background-color:#BEDCF2;">
                        <h2 style="font: ArialMT, Regular; font-size: 18px;text-align: center;">Non-Contract Facility
                      </h2>
                    </div>
                </div></div>
              </div>
        </div>
    </div>
  </div>
  
