    img {
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
    .bg-color{
        background-color: #3B95D8;
    }
    .panel-title a:after {
        font-family:Fontawesome;
        content:'\f139';
        /* content:'\f077'; */
        float:right;
        /* font-size:10px;
        font-weight:300; */
        font-size:24px;
        font-weight:300;
        
    }
    .panel-title a.collapsed:after {
        font-family:Fontawesome;
        content:'\f13a';
        /* content:'\f078'; */
    }

    .vertical{
        border-left:2px solid rgba(0, 0, 0, 0.1);
    }
    .panel-body{
        background-color: rgba(59, 149, 216, 0.3);
        opacity: 30%;
        }

    .sidenav {
        position: fixed;
        z-index: 1;
        left: 0;
        width:185px;
        /* background-color: #3B95D8; */
        background-color: rgba(59, 149, 216, 0.3);
    }
    
    .sidenav a {
        padding: 0px 2px 0px 0px;
        font-size: 25px;
        display: block;
    }
    
    .main {
        margin-left: 250px; /* Same as the width of the sidenav */
        top: 0px;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
      }

      table td{
          padding: 5px;
      }

    .badge{
          padding: 10px;
      }

     a.badge{
        padding: 5px;
        color: #444444;
        opacity: 100%;
        border-radius: 35px; 
    }

    a.badge i{
        color: #FFFFFF;
    }

    .badge-custom{
        background-color:#FFFFFF;
        color:#444444;
        border-radius:10px; 
        
    }

    .valid{
        background-color: #60C6D5;
        opacity: 100%;
      }
    .invalid{
        background-color: #B09EC1;
        opacity: 100%;
      }
    .active{
        background-color:gainsboro;
      }

    .valid-text{
        color: #60C6D5;
        opacity: 100%;
      }
    .invalid-text{
        color: #B09EC1;
        opacity: 100%;
      }
      a.badge.valid-text{
        background-color: #60C6D5;
        opacity: 100%;
      }

      a.badge.invalid-text{
        background-color: #B09EC1;
        opacity: 100%;
      }

      .form-control[disabled]{
          background-color: transparent;
          border: 1px solid  #444444;
      }

     /*  .form-control[required="required"] input:not(.required) {
        border: 1px solid black;
      }

      .form-control[required="required"] input {
        border: 1px solid red;
      } */

    h6.text{
        font: ArialMT, Regular; opacity:50%;font-size: 14px;color: #444444;
      }

      input.ng-required{
        border: 1px solid black;
    }

    input.ng-invalid{
        border-left: 5px solid #B09EC1;
    }

    input.ng-valid{
        border-left: 5px solid #60C6D5;
    }

    select.ng-invalid{
        border-left: 5px solid #B09EC1;
    }

    select.ng-valid{
        border-left: 5px solid #60C6D5;
    } */

    .black-border{
    border: 1px solid #444444;
    }

    .red-border{
        border: 1px solid red;
        }

    em{
        color:red;
    }

    .glyphicon.glyphicon-plus-sign {
        font-size: 20px;
    }
    .glyphicon.glyphicon-remove-circle{
        font-size: 18px;
    }
    .search-result {
        border: 1px solid #ccc;
        width: 94.2%;
        background-color: #BEDCF2;
        cursor: pointer;
        text-align: left;
        max-height: 350px;
        overflow: auto;
        position: absolute;
        z-index: 7;
    }
    
    .search-result ul {
        margin: 0px;
        padding: 0px;
       
    }
    
    .search-result ul li {
        border-bottom: 1px solid blue;
        padding: 5px 0px 5px 10px;
    }
    
    .search-result ul li:hover {
        background: #f2f2f2;
    }
    
    textarea{
        background-color:#F0DEFF;
    }
    
    
    /*   <!--CHANGES DROP DOWN TO HAVE TEXT BOX TO SEARCH-->*/
    /* .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    } */
    .dropdown-content a {
        color: black;
        padding: 250px 160px;
        text-decoration: none;
        display: block;
    }
    
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display:none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 280px;
        box-shadow: 0px 28px 36px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding-top: 0px 0px;
        padding-right: 170px 160px;
    }
    .dropdown-content a:hover {background-color: #ddd}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    
  /*   <!--CHANGES DROP DOWN TO HAVE TEXT BOX TO SEARCH-->*/
       
  #admin{
    overflow:hidden;
width: 50px;
height: 50px;
color: white;
background-color: #BEDCF2;
position: absolute;
bottom: 00px;
-webkit-transition:width 2s;
 transition:width 2s;
  }
/* #admin {white-space:nowrap;} */
  #admin:hover{
width: 270px;
visibility: visible;
   }
  
  